[submodule "modules/api"]
	path = modules/api
	url = https://github.com/Lux-Vacuos/API-Lib
[submodule "modules/adus"]
	path = modules/adus
	url = https://github.com/Lux-Vacuos/ADUS.git
[submodule "LightEngine"]
	path = LightEngine
	url = https://github.com/Lux-Vacuos/LightEngine.git
